<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ValidateForm</title>
</head>
<body>
    <!--
        th:object="${personForm}" ：绑定PersonForm对象，称其为bean-backed表单
    -->
    <form action="#" th:action="@{/}" th:object="${personForm}" method="post">
        <table>
            <tr>
                <td>姓名:</td>
                <td><input type="text" th:field="*{name}" /></td>
                <!--判断数据是否符合要求，若不符合要求，将会相识出错误信息-->
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">NAME ERROR</td>
            </tr>

            <tr>
                <td>年龄：</td>
                <td><input type="text" th:field="*{age}"/></td>
                <!--oneerror;只会显示这里的错误信息 errors：会显示模板自己标识的错误信息-->
                <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">AGE ERROR</td>
            </tr>
            <tr>
                <td><button type="submit">提交</button></td>
            </tr>
        </table>
    </form>
</body>
</html>